{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    {{ form.usuario  }}
    <label for="banco">Banco:</label><br>
    {{ form.banco }}
    <br>
    <label for="numero_cuenta">Numero de cuenta:</label><br>
    {{ form.numero_cuenta }}
    <br>
    <label for="clabe">CLABE:</label><br>
    {{ form.clabe }}
    <br>
    <label for="tipo_cuenta">Tipo de Cuenta:</label><br>
    {{ form.tipo_cuenta }}
    <br>
    <label for="monto">Monto:</label><br>
    {{ form.monto }}
    <br>
    <label for="t_tarjeta_debito">Tiene trajeta de credito?</label><br>
    {{ form.t_tarjeta_debito }}
    <br>
    <label for="monto">Numero de tarjeta de credito</label><br>
    {{ form.num_tarjeta }}
    <br>
    <label for="monto">Tasa de inflacion</label><br>
    {{ form.tasa_inflacion }}
    <br>
    <label for="plazo">Plazo</label><br> 
    {{ form.plazo }}
     <br>
    <button type="submit"> Guardar</button>
</form>
{% endblock %}